<div id="header">
  <div class="header-elements">
    <b><a href="#body" class="main-content">Skip to Content</a></b>
    <div class="header-left">
      <b><a href="/">TheEvilSkeleton</a></b>
    </div>
    <div class="header-right">
      {{ page }}
    </div>
  </div>
</div>
