<head>
  <link href="/style.css" rel="stylesheet"/>
  <link rel="icon" href="/assets/favicon.png" sizes="16x16" type="image/png"/>
  <link href="/feed.xml" rel="alternate" title="TheEvilSkeleton" type="application/atom+xml">
  <meta charset="UTF-8"/>
  <meta property="og:image" content="/assets/logo-256x256.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="#ba9cff" data-react-helmet="true" name="theme-color"/>
  <meta name="google-site-verification" content="Lp8ldkXyem8rqHH9hB5ZlDGplTzH5yJHN_pCF3Ri9LU"/>
</head>
